sentence-transformers
torch
transformers
tokenizers
huggingface-hub
langchain-huggingface
langchain
langchain-community
fastapi
uvicorn
pydantic
google-generativeai
python-multipart
langchain-google-genai
langchain-groq
chromadb
faiss-cpu
python-dotenv
python-docx
PyPDF2
pandas
openpyxl
numpy
streamlit
graphviz
